@import "../fonts/fonts";

footer {
  //border: solid yellow 0.5rem;
  background-color: black;
  color: white;
  font-family: "Lovelo-LineLight", arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: row;
}

i {
  font-size: 3rem;
  color: white;
}

.h2_footer {
  color: white;
}

@media (max-width: 400px) and (orientation: portrait) {
  .footer-container {
    flex-direction: column;
  }

  .fa-brands {
    font-size: 2rem;
  }
}
