@import "../fonts/fonts";

footer {
  //border: solid yellow 0.5rem;
  background-color: black;
  color: white;
  font-family: "Lovelo-LineLight", arial, sans-serif;
  display: flex;
  flex-direction: row;
}

i {
  font-size: 3rem;
  color: white;
}

.h2_footer {
  color: white;
}

@media (min-width: 500px) and (orientation: portrait) {
  footer {
    display: flex;
    flex-direction: row;
  }
}
